@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}
@font-face { 
    font-family: 'Raleway-ExtraBold';
    src: url('fonts/Raleway-ExtraBold.ttf');   
}
body { 
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway-VariableFont_wght', sans-serif , serif;
}
header { 
    margin-right: 10%;
    margin-left: 10%;
}
main {
    margin-right: 10%;
    margin-left: 10%;
}
footer {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}
h1 , h2 , h3 , h4 {
    font-family: 'Raleway-ExtraBold', sans-serif , serif;
}
h1 , h2 , h3 {
    font-size: x-large;
}
a {
    text-decoration: none;
}
p {
    color: black;
}
/*HEADER-------------------------------------------------------*/
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li a {
    margin-right: 20px;
    padding: 15px 20px 0 20px;     
}
#desktopnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#desktopnav a:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;  
}
nav span {
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
    color: #0065FC;
}
#responsivenav {
    display: none;
}
#register {
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    outline: none;
}
#accommodationandactivity {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: #F2F2F2 1px solid;
}
#accommodationandactivity div {
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: #F2F2F2 2px solid;
    padding-bottom: 20px;
}
#accommodationandactivity a:hover {
    color: #0065FC;
}
#accommodationandactivity div:hover {
    border-bottom: #0065FC 2px solid;
}
/*SEARCH------------------------------------------------------*/
label {
    background-color: #F2F2F2;
    padding: 17px 20px 15px 20px;
    border-radius: 15px 0px 0px 15px;
    border: #F2F2F2 1px solid;
}
.field {
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
    font-size: large;
    border-bottom: #F2F2F2 1px solid;
    border-top: #F2F2F2 1px solid;
    border-left: none;
    border-right: none;
    padding: 13px 0px 13px 15px;
    outline: none;
}  
.btn1 {     
    border: #0065FC 1px solid;
    border-radius: 0px 15px 15px 0px;
    padding: 16px 15px 15px 15px;
    background-color: #0065FC;
    color: #ffff;
    outline: none;
    margin-left: -10px;
    font-size: large;  
}
.btn1 .fas {
    display: none;
}
form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
h1 {
    margin-bottom: -5px;
}

#filters {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
}
#btn2container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-top: #d9d9d9 2px solid;
    border-bottom: #d9d9d9 2px solid;;
    border-left: #d9d9d9 1px solid;;
    border-right: #d9d9d9 2px solid;;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    padding: 15px 15px 15px 0px;
    margin-left: 30px;
    margin-bottom: 2%;   
    outline: none;
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
    font-size: medium;
}
.btn2 .fas {
    margin-right: 10px;
    margin-left: -1px;
    padding: 13px;
    border-radius: 50px;
    border: #DEEBFF 1px solid;
    color: #0065FC;
    background-color: #DEEBFF;
}
.btn2:hover{
    color: white;
    background-color: #0065FC;
}
#info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#info .fas {
    border: #d9d9d9 1px solid;
    border-radius: 50%;
    color: #0065FC;
    padding: 5px 9px 5px 9px;
    margin-right: 15px;
}
/*-------RESULTS-------*/
#results {
    width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
#results span {
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
}
#results article h2 , article h4 {
    margin-left: 40px;
}
#results article {
    width: 65%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 15px;
}
#left {
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
#left a {
    width: 270px;
    height: 200px;
    border: white 1px solid;
    background-color: white;
    border-radius: 15px;
    padding: 3px 3px 0px 3px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
}
#left a p {
    margin: 0px 0px 5px 10px;
}
#left a img {
    width: 100%; 
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.bluestar {
    color: #0065FC;
    font-size:  0.9em;
}
.greystar {
    color: #d9d9d9;
    font-size:  0.9em;
}
/*-------Left-------*/
aside {
    width: 30%;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #F2F2F2 1px solid;
    background-color: #F2F2F2;
    border-radius: 15px;
}
#right {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#right a {
    width: 360px;
    height: 140px;
    border: white 1px solid;
    background-color: white;
    border-radius: 15px;
    padding: 3px 0px 3px 3px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
}
#right a img {
    width: 130px;
    height: 100%;
    float: left;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    margin-right: 20px;
}
#righttitle {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.stars {
    padding-top: 15px;
    font-size:  0.9em;
}
/* TILES ----------------------------------------------*/
#tiles {
    margin-top: 5%;
}
#tilescontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#tilescontainer p {
    font-family: 'Raleway-ExtraBold' , sans-serif , serif;
    padding-left: 20px;
}
.tiles1 {
    width: 23%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
}
.tiles2 {
    width: 23%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.tiles2 a {
    height: 100%;
}
.tiles1 img {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.tiles2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
#pics1 {
    height: 260px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
    border-radius: 15px;
}
#pics2 {
    height: 170px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
    border-radius: 15px;
}
#pics3 , #pics4 {
    height: 200px;
    box-shadow: 0 0 5px 0.2em #e2e2e2;
    border-radius: 15px;
}
#pics1 img {
    height: 75%;
}
#pics2 img {
    height: 65%;
}
#pics3  img , #pics4 img {
    height: 70%;
}
/*FOOTER---------------------------------------------------------*/
footer div {
    width: 19%;
    margin-left: 10%;
    padding-top: 20px;
}


